<section class="mt-12 px-4 pt-40 pb-20">
  <div class="container mx-auto text-center">
    <span
      class="label-md text-primary mb-4 inline-block font-bold tracking-widest uppercase"
      >Kontakta oss</span
    >
    <h1
      class="font-headline text-on-surface mb-6 text-5xl font-extrabold tracking-tighter md:text-7xl"
    >
      Vi förenklar din vardag
    </h1>
    <p
      class="text-on-surface-variant mx-auto max-w-2xl text-lg leading-relaxed md:text-xl"
    >
      Har du frågor om våra tjänster eller vill du boka en städning? Vårt team i
      Ljungby finns här för att hjälpa dig skapa ett harmoniskt hem.
    </p>
  </div>
</section>
